<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>RemoteSys - Rosseti Electric</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>

</head>

<body>


	<div class="container">

		<br>

		<div class="jumbotron">
			<h1 class="display-4">Hello
				[[${#httpServletRequest.remoteUser}]]!</h1>
			<hr class="my-4">
			<p>Track the history of your machines in the field.</p>

			<form th:action="@{/logout}" method="post">
				<input class="btn btn-primary btn-lg" type="submit" value="Sign Out" />
			</form>
		</div>

		<div class="table-responsive-lg">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Code Machine</th>
						<th scope="col">IP</th>
						<th scope="col">Connection</th>
						<th scope="col">Last Connection</th>
						<th scope="col">Next Connection</th>
						<th scope="col">Last Error</th>


					</tr>
				</thead>
				<tbody style="font-size: 14px;">
					<tr th:each="machine: ${machines}">

						<td th:text="${machine.id}"></td>
						<td th:text="${machine.name}"></td>
						<td th:text="${machine.codeMachine}"></td>
						<td th:text="${machine.ip}"></td>
						<td th:text="${machine.codeError}"></td>
						<td th:text="${machine.lastConnection}"></td>
						<td th:text="${machine.nextConnection}"></td>
						<td th:text="${machine.lastError}"></td>


					</tr>

				</tbody>
			</table>

			<!-- Content here -->
		</div>

	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

</body>
</html>